h1 {
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #d4841b;
  font-family: cursive;
  margin-bottom: 5%;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
}

body {
  font-family: "Theinhardt", sans-serif;
  color: #1e1e26;
  font-size: 16px;
  margin: 5px;
  justify-content: center;
  /* /* background-size: cover;
  background: url(hangmanImg/test4.jpg) 0 0 no-repeat;/* */
}

.gameContainer {
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.play_Image {
  display: flex;
  text-align: center;
  width: 50%;
  margin-bottom: 10%;
  justify-content: space-around;
  margin-top: 20px;
}

.hangmanPic {
  width: 60%;
}

.wordUnderscore {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 40px;
}

.keyboard {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.letter {
  text-align: center;
  font-family: cursive;
  /* font-size: 80%; */
  color: #ffffff;
  width: 70px;
  height: 30px;
  line-height: 20px;
  margin: 1px;
  border-radius: 5px;
  border-style: none;
  background-color: #1d522f;
  font-size: 0.8rem;
}

#game {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

button {
  background-color: #1d522f;
  font-size: 1.2rem;
  color: #fff;
  border-width: 2px;
  border-color: #1d522f;
  border-radius: 4px 4px;
  padding: 10px;
  width: 8%;
}

#timer {
  border: 1px outset;
  background: #d4841b;
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 4px 4px;
  padding: 10px;
  width: 8%;
  margin-right: 1%;
}

.gameWrapper {
  display: flex;
}

.time_start {
  display: flex;
  justify-content: space-around;
}

.hangmanImg {
  padding-top: 25px;
}

.hangmantitleimg {
  display: block;
  text-align: center;
  width: 15%;
  margin: 10px auto 25px;
}
